@model WebApplication5.Models.Teacher

@{

}


<h1 class="fw-bold text-center mb-4">Add Teacher Information: </h1>

<div class="container border border-dark p-5">
    <form asp-action="CreateOrEdit" asp-controller="Teacher" method="post">
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" asp-for="Name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" asp-for="Email" class="form-control">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="number" asp-for="Phone" class="form-control">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" asp-for="Address" class="form-control">
        </div>
        <div class="mb-3">
            <label for="salary" class="form-label">Salary</label>
            <input type="number" asp-for="Salary" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
